# Node.js
node_modules/
npm-debug.log

# Build artifacts
build/
dist/

# Dependency directories
jspm_packages/

# Webpack
.DS_Store
.DS_Store?
*.cache
*.log
*.pid
*.seed
*.pid.lock
*.log
npm-debug.log
yarn-error.log
yarn-debug.log*
yarn.lock
yarn-integrity
.pnp.js

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
